h1 {
    text-align: center;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background-color: greenyellow;
}

footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    background: #f0f0f0;
    width: 100%;
    text-align: center;
}