<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header('Showing posts')"></head>

<body>
<nav th:replace="fragments/navbar :: navbar-partial"></nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Showing the posts:
                <span th:text="${id}"></span>!!
            </h1>
        </div>
    </div>

</div>


<footer th:replace="fragments/footer :: footer-partial"></footer>

</body>
</html>




