<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
<!-- Defines the fragment -->
<!-- Footer -->
<footer th:fragment="footer-partial" id="asd" class="my-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/johannapgomez">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/JohannaGomez">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Johanna-Gomez 2018</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>

