<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<!-- Navigation -->
    <nav th:fragment="navbar-partial" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">My village</a>
            <form class="form-inline navbar-left" th:action="@{/posts/search}" th:method="post">
                <div class="form-group">
                    <input type="text" id="term" class="form-control" name="term" placeholder="title or content" />
                </div>
                <button id="search_btn" type="submit" class="btn btn-default rounded">Search</button>
            </form>


            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item user_welcome" sec:authorize="isAuthenticated()">
                        <span>Welcome, <span th:text="${#authentication.principal.username}" /></span>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/user/posts/new"><span class="glyphicon glyphicon-tag"></span> Create A New Post</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="user/profile"><span class="glyphicon glyphicon-user"></span> View Profile</a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/user/sign-up">Register <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/login">Login
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn logout_btn" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</body>
</html>