<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/blog_template_head :: header('Sign up!')"></head>
<!--<style>-->
    <!--.modal-dialog {-->
        <!--max-width: none !important;-->
    <!--}-->
    <!---->
<!--</style>-->
<body>
    <nav th:replace="fragments/blog_template_navbar :: navbar-partial"></nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>My village</h1>
                        <span class="subheading">A Blog by Moms </span>
                        <h4 class="subheading">Editing user profile:</h4>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Content-->
    <div class="container">
        <form th:action="@{/user/edit}" method="post" th:object="${user}">
            <input type="hidden" th:field="*{id}" />
            <div class="row">
                <div class="offset-lg-1 col-lg-10 offset-md-2 col-md-10">
                    <div class="row">
                        <div class="col-lg-4">
                            <img th:src="${user.profile_pic == null || (user.profile_pic).isEmpty() ? '/img/user_pic.png' : user.profile_pic}"
                                 alt="profilePic" class="profile-pic"/>
                            <br />
                            <button type="button" class="btn btn-secondary submit" id="upload-button">Change</button>
                        </div>
                        <div class="offset-lg-1 col-lg-7">
                            <div class="row">
                                <input type="hidden" th:field="*{profile_pic}"/>
                                <div class="col-lg-3 pb-2">
                                    <h6>Username: </h6>
                                </div>
                                <div class="col-lg-9 pb-2">
                                    <input class="rounded" th:field="*{username}" />
                                </div>
                            </div>
                            <div class="row">
                                <input type="hidden" th:field="*{password}" />
                                <div class="col-lg-3 pb-2">
                                    <h6>e-mail: </h6>
                                </div>
                                <div class="col-lg-9 pb-2">
                                    <input class="rounded" th:field="*{email}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" id="submit_edit" class="btn btn-warning">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <footer th:replace="fragments/blog_template_footer :: footer-partial"></footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>


    <!--File stack script-->
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="/js/edit_profile.js"></script>

</body>
</html>