<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/blog_template_head :: header('Sign up!')"></head>
<!--<style>-->
    <!--.modal-dialog {-->
        <!--max-width: none !important;-->
    <!--}-->
    <!---->
<!--</style>-->
<body>
    <nav th:replace="fragments/blog_template_navbar :: navbar-partial"></nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>My village</h1>
                        <span class="subheading">A Blog by Moms </span>
                        <h4 class="subheading">Editing user profile:</h4>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Content-->
    <div class="container">
        <form th:action="@{/user/edit}" method="post" th:object="${user}">
            <input type="hidden" th:field="*{id}" />
            <div class="row">
                <div class="offset-lg-1 col-lg-10 offset-md-2 col-md-10">
                    <div class="row">
                        <div class="col-lg-4">
                            <img th:src="${user.profile_pic == null || (user.profile_pic).isEmpty() ? '/img/user_pic.png' : user.profile_pic}"
                                 alt="profilePic" class="profile-pic"/>
                            <br />
                            <button type="button" class="btn btn-secondary submit" id="upload-button">Change</button>
                        </div>
                        <div class="offset-lg-1 col-lg-7">
                            <div class="row">
                                <input type="hidden" th:field="*{profile_pic}"/>
                                <div class="col-lg-3 pb-2">
                                    <h6>Username: </h6>
                                </div>
                                <div class="col-lg-9 pb-2">
                                    <input class="rounded" th:field="*{username}" />
                                </div>
                            </div>
                            <div class="row">
                                <input type="hidden" th:field="*{password}" />
                                <div class="col-lg-3 pb-2">
                                    <h6>e-mail: </h6>
                                </div>
                                <div class="col-lg-9 pb-2">
                                    <input class="rounded" th:field="*{email}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" id="submit_edit" class="btn btn-warning">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

            <!--<form th:action="@{/user/edit}" method="post" th:object="${user}">-->
                <!--<input type="hidden" th:field="*{id}" />-->
                <!--<div class="content-area p-4">-->
                    <!--<div class="justify-content-center mb-4">-->

                        <!--<div class="col-md-6">-->
                            <!--<label> Profile Picture:</label>-->
                            <!--<br />-->
                            <!--<img th:src="${user.profile_pic == null || (user.profile_pic).isEmpty() ? '/img/user_pic.png' : user.profile_pic}"-->
                                 <!--alt="profilePic" class="profile-pic"/>-->
                            <!--<br />-->
                            <!--<button type="button" class="btn btn-secondary submit" id="upload-button">Upload New Picture</button>-->
                        <!--</div>-->

                        <!--<div class="col-md-6">-->
                            <!--<input type="hidden" th:field="*{profile_pic}"/>-->
                            <!--<input th:field="*{username}" />-->
                            <!--<input type="hidden" th:field="*{password}" />-->
                            <!--<input th:field="*{email}" />-->
                        <!--</div>-->


                    <!--</div>-->
                    <!--<div class="offset-lg-9 col-lg-3" style="margin: 0 auto">-->
                        <!--<input type="submit" class="btn btn-warning btn-block" />-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->




            <!--Modal-->
            <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                <!--<div class="col-lg-8 col-md-10 mx-auto">-->
                    <!--<div class="modal-dialog" role="document">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-header">-->
                                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close</span></button>-->
                            <!--</div>-->
                            <!--<div class="modal-body">-->
                                <!--<form th:action="@{/user/sign-up}" method="POST" th:object="${user}">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-lg-3">-->
                                            <!--<h6>Username: </h6>-->
                                        <!--</div>-->
                                        <!--<div class="col-lg-offset-1 col-lg-8">-->
                                            <!--<input class="post-title" style="width: 100%;" th:field="*{username}" />-->
                                            <!--<p style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<br/>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-lg-3">-->
                                            <!--<h6>Email: </h6>-->
                                        <!--</div>-->
                                        <!--<div class="col-lg-offset-1 col-lg-8">-->
                                            <!--<input class="post-title" style="width: 100%;" th:field="*{email}" />-->
                                            <!--<p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-lg-3">-->
                                            <!--<h6>Password: </h6>-->
                                        <!--</div>-->
                                        <!--<div class="col-lg-offset-1 col-lg-8">-->
                                            <!--<input type="password" class="post-title" style="width: 100%;" th:field="*{password}" />-->
                                            <!--<p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<br/>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-lg-2" style="margin: 0 auto">-->
                                            <!--<input type="submit"  class="btn btn-primary btn-block" />-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                    <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</header>-->


    <footer th:replace="fragments/blog_template_footer :: footer-partial"></footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>


    <!--File stack script-->
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>
    <script src="/js/edit_profile.js"></script>

</body>
</html>