.logout_btn {
    margin-top: 1px !important;
    padding: 0px;
    color: white;
}

.user_welcome{
    margin-top: 5px;
    color: white;
}

.edit_delete_row{
    margin-bottom: 20px;
}

.edit_btn, .delete_btn {
    height: 45px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#upload-button, #submit_edit, #edit_profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search_btn {
    height: 38px;
    margin-left: 5px;
    padding: 0%;
    width: 100px;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}