<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header('Rolling the dice')"></head>

<body>
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Rolling the dice:
                    <span th:text="${num1}"></span>!!
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    <li><a href="/roll-dice/1">1</a></li>
                    <li><a href="/roll-dice/2">2</a></li>
                    <li><a href="/roll-dice/3">3</a></li>
                    <li><a href="/roll-dice/4">4</a></li>
                    <li><a href="/roll-dice/5">5</a></li>
                    <li><a href="/roll-dice/6">6</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${num1 != null}">
                    <h3>The number you guessed:
                        <span th:text="${num1}"></span>
                    </h3>
                    <h3>Random number was:
                        <span th:text="${random}"></span>
                    </h3>
                    <h1 th:if="${winner}">You guessed!</h1>
                    <h1 th:if="!${winner}">You didn't guess the random number</h1>
                </div>
            </div>
        </div>

    </div>


    <footer th:replace="fragments/footer :: footer-partial"></footer>

</body>
</html>




